<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../../dist/styles.css">
  <title>About Main</title>
</head>
<body>
    <header class="main__Header">
        <a class="tit_24" href="#0">TRIPLEXLAB</a>
        <ul class="Header__list clearfix">
          <li class="list list tit_14"><a href="#0">TRIPLEXLAB Templates</a></li>
          <li class="list list tit_14"><a href="#0">My Templates</a></li>
        </ul>
    </header>
    <div class="wrapper__Content">
      <div class="Side__Menu">
          <div class="Side__Menu--Inner">
              <ul class="Side__Menu--list">
                  <li class="list tit_14">
                    <a href="../../../index.html">
                      <span class="Side__Menu--sapn">10</span>
                      <span>All</span>
                    </a>
                  </li>

                  <li class="list tit_14">
                    <a href="#">
                      <span class="Side__Menu--sapn">5</span>
                      <span>About</span>
                    </a>
                  </li>
                  <li class="list tit_14">
                    <a href="#">
                      <span class="Side__Menu--sapn">5</span>
                      <span>Blog</span>
                    </a>
                  </li>
                  <li class="list tit_14">
                    <a href="#">
                      <span class="Side__Menu--sapn">5</span>
                      <span>Call To Action</span>
                    </a>
                  </li>
                  <li class="list tit_14">
                    <a href="#">
                      <span class="Side__Menu--sapn">5</span>
                      <span>Counters</span>
                    </a>
                  </li>
                  <li class="list tit_14">
                    <a href="#">
                      <span class="Side__Menu--sapn">5</span>
                      <span>General</span>
                    </a>
                  </li>
                  <li class="list tit_14">
                    <a href="#">
                      <span class="Side__Menu--sapn">5</span>
                      <span>Icons</span>
                    </a>
                  </li>
                  <li class="list tit_14">
                    <a href="#">
                      <span class="Side__Menu--sapn">5</span>
                      <span>Hero Section</span>
                    </a>
                  </li>
                  <li class="list tit_14">
                    <a href="#">
                      <span class="Side__Menu--sapn">5</span>
                      <span>Map</span>
                    </a>
                  </li>
                  <li class="list tit_14">
                    <a href="#">
                      <span class="Side__Menu--sapn">5</span>
                      <span>Project</span>
                    </a>
                  </li>
                  <li class="list tit_14">
                    <a href="#">
                      <span class="Side__Menu--sapn">5</span>
                      <span>Pricing</span>
                    </a>
                  </li>
                  <li class="list tit_14">
                    <a href="#">
                      <span class="Side__Menu--sapn">5</span>
                      <span>Services</span>
                    </a>
                  </li>
                  <li class="list tit_14">
                    <a href="#">
                      <span class="Side__Menu--sapn">5</span>
                      <span>Team</span>
                    </a>
                  </li>
                  <li class="list tit_14">
                    <a href="#">
                      <span class="Side__Menu--sapn">5</span>
                      <span>Testimonials</span>
                    </a>
                  </li>
                  <li class="list tit_14">
                    <a href="#">
                      <span class="Side__Menu--sapn">5</span>
                      <span>Shop</span>
                    </a>
                  </li>
              </ul>
          </div>
      </div> 
      <section class="main__Content">
          <ul class="main__Content--list clearfix">
              <li class="list">
                <div class="list__inner">
                  <a href="#">
                    <img class="thumb" src="../../../images/about-me.jpg">
                    <div class="list__tit">
                      <div class="">
                        <p>Blog</p>
                        <h3>About Me - Fullscreen vCard</h3>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li class="list">
                  <div class="list__inner">
                    <a href="#">
                      <img class="thumb" src="../../../images/about-me.jpg">
                      <div class="list__tit">
                        <p>Blog</p>
                        <h3>About Me - Fullscreen vCard</h3>
                      </div>
                    </a>
                  </div>
                </li>
                <li class="list">
                  <div class="list__inner">
                    <a href="#">
                      <img class="thumb" src="../../../images/about-me.jpg">
                      <div class="list__tit">
                        <p>Blog</p>
                        <h3>About Me - Fullscreen vCard</h3>
                      </div>
                    </a>
                  </div>
                </li>
                <li class="list">
                  <div class="list__inner">
                    <a href="#">
                      <img class="thumb" src="../../../images/about-me.jpg">
                      <div class="list__tit">
                        <p>Blog</p>
                        <h3>About Me - Fullscreen vCard</h3>
                      </div>
                    </a>
                  </div>
                </li>
                <li class="list">
                  <div class="list__inner">
                    <a href="#">
                      <img class="thumb" src="../../../images/about-me.jpg">
                      <div class="list__tit">
                        <p>Blog</p>
                        <h3>About Me - Fullscreen vCard</h3>
                      </div>
                    </a>
                  </div>
                </li>
          </ul>
   </section>
  </div>

<script src="../../../dist/main.js"></script>
</body>
</html>