<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../../../fontello/css/fontello.css">
  <link rel="stylesheet" href="../../../../dist/styles.css">
  <title>About ex_1</title>
</head>
<body>
  <section class="Content__L--Main">
    <div class="Content__L--Half col_M-6 display_table">
      <div class="vertical_center">
      <h4>Philip Martinez</h4>
      <h2>
        Creator of quality designs and thinker of fresh ideas.
      </h2>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
      <ul class="skills">
          <li>
              Web Design
              <div class="bar-container">
                  <span class="bar">
                  <span class="pct">82%</span>
                </span>
              </div>
          </li>
          <li>
              UI Design
              <div class="bar-container">
                <span class="bar">
                <span class="pct">80%</span>
                </span>
              </div>
          </li>
          <li>
              Video Editing
              <div class="bar-container">
                <span class="bar">
                <span class="pct">80%</span>
                </span>
              </div>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#0">
              <i class="icon-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#0">
              <i class="icon-git"></i>
            </a>
          </li>
          <li>
            <a href="#0">
              <i class="icon-dribbble"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="Content__L--Half col_M-6">
      <img class="thumb" src="../../../../images/m-1.png" alt="">
    </div>
  </section>
  <script src="../../../../dist/main.js"></script>
</body>
</html>