<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../fontello/css/fontello.css">
    <link rel="stylesheet" href="../../../../dist/styles.css">
    <title>About Main</title>
</head>
<body>  
        <section class="Blogs__wrap">
            <div class="l__wrapper"> 
                <ul class="ninja">
                    <li class="tt blue">
                        <i class="icon"></i>
                        <h2>SOUND</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                    </li>
                    <li class="tt purple">
                        <i class="icon"></i>
                        <h2>Donatello</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                    </li>
                    <li class="tt red clearfix">
                        <i class="icon"></i>
                        <h2>Raphael</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                    </li>
                    <li class="tt orange clearfix">
                        <i class="icon"></i>
                        <h2>Michelangelo</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                    </li>
                </ul>
            </div>
        </section>
    <script src="../../../../dist/main.js"></script>
</body>
</html>