<!DOCTYPE html>
<html lang='ko'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes'>
    <link rel='stylesheet' href='../../../../dist/styles.css'>
</head>
<body>
    <section class="ex1-banner__contents">
        <div class="l__wrapper height--100">
            <article class="ex1-banner__tit display_table"> 
                <div class="vertical_center">
                    <h1>Our News</h1>
                    <p>Fresh From The Press</p>
                </div>  
            </article>
        </div>
    </section>

<script src='../../../../dist/main.js'></script>
</body>
</html>
